<div class="manage-nav container-fluid w-100 h-100 p-0 m-0 d-flex justify-content-center align-content-center bg-dark bg-opacity-25">
  <div class="item h-100 text-center d-flex justify-content-center align-items-center pe-1 ps-1">
    <p routerLink="Worker" class="text-light mt-2 fw-bold">Upravljanje radnicima</p>
  </div>

  <div class="item h-100 text-center d-flex justify-content-center align-items-center  pe-1 ps-1">
    <p routerLink="Users" class="text-light mt-2 fw-bold">Upravljanje korisnicima</p>
  </div>

  <div class="item h-100 text-center d-flex justify-content-center align-items-center  pe-1 ps-1">
    <p routerLink="Film" class="text-light mt-2 fw-bold">Upravljanje filmovima</p>
  </div>
  <div class="item h-100 text-center d-flex justify-content-center align-items-center  pe-1 ps-1">
    <p routerLink="DetaljiFilma" class="text-light mt-2 fw-bold">Upravljanje detaljima filma</p>
  </div>
  <div class="item h-100 text-center d-flex justify-content-center align-items-center  pe-1 ps-1">
    <p routerLink="Glumci" class="text-light mt-2 fw-bold">Upravljanje glumcima</p>
  </div>

  <div class="item h-100 text-center d-flex justify-content-center align-items-center  pe-1 ps-1">
    <p routerLink="Projekcija" class="text-light mt-2 fw-bold">Upravljanje projekcijama</p>
  </div>

  <div class="item h-100 text-center d-flex justify-content-center align-items-center  pe-1 ps-1">
    <p routerLink="Ponude" class="text-light mt-2 fw-bold">Upravljanje ponudama</p>
  </div>

  <div class="item h-100 text-center d-flex justify-content-center align-items-center  pe-1 ps-1">
    <p routerLink="Statistics" class="text-light mt-2 fw-bold">Statistika</p>
  </div>

  <div class="item h-100 text-center d-flex justify-content-center align-items-center  pe-1 ps-1">
    <p routerLink="cinehome" class="text-light mt-2 fw-bold">Idi na klijent</p>
  </div>
</div>
