.uza{
  width: 80%;
  position: relative;
  top: 0px;
  left: 150px;
}
h1{
  color: white;
  text-align: center;
}
.uzad{
  width: 30%;
  position: relative;
  top: 0px;
  left: 150px;
  color: white;
}
.desni{
  margin-left: 10px;
}
#dodajButton{
  position: relative;
  top: 0px;
  left: 390px;
}
.upozorenje{
  color: red;
}

