body::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background-color: rgba(12, 13, 15, 0.9);
}
body::-webkit-scrollbar-thumb {
  background-color: #0478d8;
  border-radius: 10px;
}

body{
  background: linear-gradient(to right,blue,rgb(116, 71, 71));
}


body,html{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
