.uzad{
  width: 65%;
  position: relative;
  top: 0px;
  left: 280px;
  color: white;
  border-radius: 25px;
}
h1{

  text-align: center;
  color: white;

}
#dodajButton{
  position: relative;
  top: 0px;
  left: 1115px;
}
#nazadButton{
  position: relative;
  top: 0px;
  left: 280px;
}
.addBtn{
  position: relative;
  top: 0px;
  left: 395px;
}
#editPBtn{
  position: relative;
  top: 0px;
  left: 385px;
}
.upozorenje{
  color: red;
}
.profilna-slika{
  height: 100px;
  width: 100px;
}
