<div class="container-fluid col-11 bg-dark m-1 d-flex p-0 m-0" style="height: 150px;">
  <div class="col-5 h-100 bg-black">

  </div>
  <div class="col-7 h-100  d-flex flex-column justify-content-center align-items-center">
    <form [formGroup]="stavkaForma" class="col-10 h-100 d-flex flex-column justify-content-center align-items-center" (submit)="dodajStavkuNaRacun()">
      <input class="form-control bg-dark text-light m-1" type="number" formControlName="kolicina" id="" (click)="updateCijena('kolicina')">
      <select class="form-select  bg-dark text-light  m-1" formControlName="porcija" id="" >
        <option value="porcija" *ngFor="let porcija of porcije" (click)="updateCijena('procija')">{{porcija}}</option>
      </select>
      <input class="form-control  bg-dark text-light  m-1" type="text" formControlName="cijena" id="" [value]="stavkaForma.controls['cijena'].value.toString() + ' KM'">
    </form>
  </div>
</div>
