.uza{
  width: 80%;
  position: relative;
  top: 0px;
  left: 150px;

}
h1{
 /* position: relative;
  top: 0px;
  left: 650px;*/
  text-align: center;
  color: white;

}
.odmakni{
  margin-left: 10px;
}
.center{
  text-align: center;
}
.uzad{
  width: 30%;
  position: relative;
  top: 0px;
  left: 150px;
  color: white;
}
