.uza{
  width: 80%;
  position: relative;
  top: 0px;
  left: 150px;

}
h1{
 /* position: relative;
  top: 0px;
  left: 650px;*/
  text-align: center;
  color: white;

}
.odmakni{
  margin-left: 10px;
}
.center{
  text-align: center;
}
.uzad{
  width: 30%;
  position: relative;
  top: 0px;
  left: 150px;
  color: white;
  border-radius: 25px;
}
.smanji{
  width: 370px;
}
.uzadd{
  width: 65%;
  position: relative;
  top: 0px;
  left: 280px;
  margin-top: 20px;
  border-radius: 25px;
}
#dodajButton{
  position: relative;
  top: 0px;
  left: 1380px;
}
#dodajButton2{
  position: relative;
  top: 0px;
  left: 1196px;
}
