<div class="container-fluid mb-5 w-100 h-100 p-0 m-0 bg-dark bg-opacity-10 d-flex justify-content-center align-items-center">

  <form #userUpdate="ngForm" name="userUpdate" ngForm (submit)="update(user.id,userUpdate)"
  class="col-3 mt-5  bg-dark bg-opacity-25 p-5 d-flex flex-column justify-content-center align-items-center">
  <h2 class="text-light">Profile</h2>
  <label for="" class=" text-light fw-bold">Username</label>
  <input minlength="5" maxlength="15" required type="text" #username="ngModel" ngModel name="username" class="form-control bg-dark text-light"
  [(ngModel)]="user.username">
  <p class="valid-txt" style="color: red;font-size: 13px" *ngIf="!username.valid && username.touched">Obavezno polje</p>
  <label for="" class=" text-light fw-bold">Ime prezime</label>
  <input minlength="5" maxlength="25" required #imePrezime="ngModel" ngModel name="imePrezime" type="text" class="form-control bg-dark text-light"
  [(ngModel)]="user.ime_prezime">
  <p class="valid-txt" style="color: red;font-size: 13px" *ngIf="!imePrezime.valid && imePrezime.touched">Obavezno polje</p>

  <label for="" class="text-light fw-bold">Password</label>

  <div class="d-flex col-12 float-start">
    <input minlength="5" maxlength="16" required [type]="passcode" #password="ngModel" ngModel name="password" class="form-control col-12  bg-dark text-light float-start"
    [(ngModel)]="user.password">
    <i *ngIf="passcode=='text'" class="fa fa-eye fs-5 mt-3 ms-1  text-light" (click)="passwordToggle()"></i>
      <i *ngIf="passcode=='password'" class="fa fa-eye-slash fs-5 mt-3 ms-1  text-light" (click)="passwordToggle()"></i>
  </div>

  <p class="valid-txt" style="color: red;font-size: 13px" *ngIf="!password.valid && password.touched">Obavezno polje</p>

  <label  for="" class=" text-light fw-bold">Mail</label>
  <input email required type="email" #email="ngModel" ngModel name="email" class="form-control bg-dark text-light"
  [(ngModel)]="user.email">
  <p class="valid-txt" style="color: red; font-size: 13px" *ngIf="!email.valid && email.touched">Obavezno polje</p>

  <label for="" class=" text-light fw-bold">Broj telefona</label>
  <input type="tel" required #broj_telefona="ngModel" ngModel name="broj_telefona" class="form-control bg-dark text-light"
  [(ngModel)]="user.broj_telefona">
  <p class="valid-txt" style="color: red; font-size: 13px;" *ngIf="!broj_telefona.valid && broj_telefona.touched">Obavezno polje</p>


  <input type="submit" class="btn btn-outline-primary m-2 fw-bold" value="Snjimi" />
</form>
</div>
