.uzad{
  width: 65%;
  position: relative;
  top: 0px;
  left: 280px;
  color: white;
  border-radius: 25px;
}
h1{

  text-align: center;
  color: white;

}
#dodajButton{
  position: relative;
  top: 0px;
  left: 1275px;
}

.upozorenje{
  color: red;
}
