.scroll {

  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;

}

.scroll::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  border-radius: 10px;
}
.scroll::-webkit-scrollbar-track {
  background-color: rgba(12, 13, 15, 0.9);
  border-radius: 10px;

}
.scroll::-webkit-scrollbar-thumb {
  background-color: #0478d8;
  border-radius: 10px;
}

