<div class="container-fluid h-100 w-100 p-0 m-0 d-flex flex-column scroll">
  <div class="container-fluid w-100 p-0 m-0 d-flex justify-content-center align-items-center"
    style="height: 40%;">
    <div class="container col-9 bg-warning h-100  p-0 m-0  d-flex">
      <div class="container-fluid p-0 m-0 h-100  w-100 bg-light  d-flex flex-column justify-content-center align-items-center">
        <div class="container-fluid p-0 m-0  w-100 bg-light  d-flex flex-column justify-content-center align-items-center scroll"
        style="height: 85%;">
        <p>Racuni</p>
        <div class="container-fluid ticket col-11 bg-danger mb-1" *ngFor="let ticket of tickets" style="height: 50px;">
        </div>
        </div>
        <div class="container w-100 d-flex ms-3 align-items-center" style="height: 15%;">
          <button class="btn btn-dark me-3 " (click)="showModal()" >Kupi hranu ili piće</button>
          <button class="btn btn-dark" >Kupi sve</button>
        </div>
      </div>

      <div class="container-fluid p-0 m-0 h-100 col-3 bg-black ">
        <p class="text-light ">Movie image</p>
      </div>
    </div>
  </div>
  <div class="container-fluid w-100 p-0 m-0 " style="height: 60%;">
    <div class="container bg-dark bg-opacity-25 w-75 h-100 d-flex flex-column justify-content-center align-items-center ">

      <div class="container row col-10 bg-warning d-flex justify-content-center align-items-center"
        *ngFor="let row of rows" style="height: 18%; flex-wrap: nowrap;">
        <div class="seat bg-dark ms-2 me-2 rounded-2" style="height: 60%; width: 5%;" *ngFor="let seat of row"></div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid p-0 m-0 w-100">
  <app-buy-snacks-modal [tickets]="tickets" ></app-buy-snacks-modal>
</div>
