<div class="container-fluid w-100 h-100 p-0 m-0 d-flex flex-row align-items-center justify-content-center ">
  <div class=" float-start col-8">
    <h1 class="text-light ms-5" >Management dashboard</h1>
  </div>
    <select id="Vremena" class="col-2 text-center rounded me-1 p-1 float-end  bg-dark text-light fw-bold">
      <option value="saab">Dan</option>
      <option value="audi">Sedmica</option>
      <option value="volvo">Mjesec</option>
      <option value="opel">Godina</option>
    </select>
    <select id="Kina" class="col-2 text-center rounded ms-1 p-1 float-end bg-dark text-light fw-bold">
      <option value="volvo">Mostar</option>
      <option value="saab">Sarajevo</option>
      <option value="opel">Zenica</option>
      <option value="audi">Tuzla</option>
    </select>
</div>


