<div class="container-fluid w-100 h-100 p-0 m-0 d-flex flex-row align-items-center justify-content-center ">
  <div class=" float-start col-7">
    <h1 class="text-light ms-5" >Menađment statistika</h1>
  </div>
  <!-- <form class="d-flex " [formGroup]="filterForm">
    <select id="Vremena" formControlName="time" (change)="changeTime()" class="col-12 text-center rounded me-1 p-1 float-end  bg-dark text-light fw-bold">
      <option value="day" selected>Dan</option>
      <option value="week">Sedmica</option>
      <option value="month">Mjesec</option>
      <option value="year">Godina</option>
    </select>
    <select id="Kina" formControlName="city" (change)="changeCity()" class="col-12 text-center rounded ms-1 p-1 float-end bg-dark text-light fw-bold">
      <option value="mostar" selected>Mostar</option>
      <option value="sarajevo">Sarajevo</option>
      <option value="zenica">Zenica</option>
      <option value="tuzla">Tuzla</option>
    </select>
  </form> -->

</div>


