h1{

  text-align: center;
  color: white;

}
#dodajButton{
  position: relative;
  top: 0px;
  left: 1275px;
}
.odmakni{
  margin-left: 10px;
}
.uzadd{
  width: 65%;
  position: relative;
  top: 0px;
  left: 280px;

  border-radius: 25px;
}
.uzad{
  width: 65%;
  position: relative;
  top: 0px;
  left: 280px;
  color: white;
  border-radius: 25px;
}
#addBtn{
  position: relative;
  top: 0px;
  left: 397px;
}
.upozorenje{
  color: red;
}
#EditBtn{
  position: relative;
  top: 0px;
  left: 387px;
}
