h1{

  text-align: center;
  color: white;

}
.uzad{
  width: 65%;
  position: relative;
  top: 0px;
  left: 280px;
  color: white;
  border-radius: 25px;
}
#dodajButton{
  position: relative;
  top: 0px;
  left: 1253px;
}
.upozorenje{
  color: red;
}
.addBtn{
  position: relative;
  top: 0px;
  left: 395px;
}
#editBtn{
  position: relative;
  top: 0px;
  left: 390px;
}
