<H1>Projekcije</H1>

<table class="table table-hover table-dark uzad">
  <tr >
    <th>ID</th>
    <th>Dan</th>
    <th>Datum i vrijeme prikazivanja</th>
    <th>Vrsta projekcije</th>
    <th>Film</th>

    <th>Akcija</th>
  </tr>
  <tbody>
  <tr *ngFor="let s of getProjekcijePodaci()">
    <td>{{s.id}}</td>
    <td>{{s.dan}}</td>
    <td>{{s.vrijemePrikazivanja}}</td>
    <td >{{s.vrstaProjekcije.dimenzija}}</td>
    <td >{{s.film.naziv}}</td>

    <td>
      <button  class="btn btn-light" (click)="obrisiProjekciju(s)">Obrisi</button>
      <button  (click)="urediProjekciju(s)" class="btn btn-light"  style="margin-left: 10px">Uredi</button>

    </td>
  </tr>
  </tbody>
</table>
<button class="btn btn-light" id="dodajButton" (click)="prikaziDodavanje=true" >Nova projekcija</button>


<div *ngIf="prikaziDodavanje" class="uzad">
  <h1>Dodavanje projekcije</h1>
  <form>
    <div class="form-group">
      <label for="dan">Dan prikazivanja</label>
      <input [(ngModel)]="add.dan" [ngModelOptions]="{standalone: true}"
             type="text" class="form-control" id="dan"  placeholder="Unesite dan">
    </div>
    <div class="form-group">
      <label for="vrijeme">Datum i vrijeme prikazivanja projekcije</label>
      <input  [(ngModel)]="add.vrijemePrikazivanja" [ngModelOptions]="{standalone: true}"
              type="datetime-local" class="form-control" id="vrijeme"  placeholder="Unesite vrijeme">
    </div>


    <div class="form-group">
      <label for="film">ID filma</label>
      <input type="number" [(ngModel)]="add.filmId" [ngModelOptions]="{standalone: true}"
             class="form-control" id="film"  placeholder="Unesite ID filma">
    </div>
    <div class="form-group">
      <label for="vProj">ID vrste projekcije</label>
      <input type="number" [(ngModel)]="add.vrstaProjekcijeId" [ngModelOptions]="{standalone: true}"
             class="form-control" id="vProj"  placeholder="Unesite ID vrste projekcije">
    </div>
    <br>
    <button type="submit" (click)="dodajProjekciju()"  class="btn btn-light">Dodaj</button>
    <button type="submit" style="margin-left: 10px" (click)="prikaziDodavanje=false" class="btn btn-light">Odustani</button>

  </form>



</div>


<div *ngIf="odabranaProjekcija != null && prikaziUredjivanje" class="uzad">
  <h1>Uređivanje projekcije</h1>
  <form>
    <div class="form-group">
      <label for="imeE">Dan</label>
      <input [(ngModel)]="odabranaProjekcija.dan" [ngModelOptions]="{standalone: true}"
             type="text" class="form-control" id="imeE"  >
    </div>
    <div class="form-group">
      <label for="prezimeE">Datum i vrijeme</label>
      <input  [(ngModel)]="odabranaProjekcija.vrijemePrikazivanja" [ngModelOptions]="{standalone: true}"
              type="text" class="form-control" id="prezimeE"  >
    </div>
    <div class="form-group">
      <label >ID vrste projekcije</label>
      <input [(ngModel)]="odabranaProjekcija.vrstaProjekcijeId" [ngModelOptions]="{standalone: true}"
             type="number" class="form-control"  >

    </div>
    <div class="form-group">
      <label >ID filma</label>
      <input [(ngModel)]="odabranaProjekcija.filmId" [ngModelOptions]="{standalone: true}"
             type="number" class="form-control"  >

    </div>

    <br>
    <button type="submit" (click)="snimi()" class="btn btn-light">Sačuvaj</button>
    <button type="submit" style="margin-left: 10px" (click)="prikaziUredjivanje=false" class="btn btn-light">Odustani</button>

  </form>

</div>
