h1{

  text-align: center;
  color: white;

}

.uzad{
  width: 65%;
  position: relative;
  top: 0px;
  left: 280px;
  color: white;
  border-radius: 25px;
}
.odmakni{
  margin-left: 10px;
}
.uzadd{
  width: 65%;
  position: relative;
  top: 0px;
  left: 280px;

  border-radius: 25px;
}
#dodajButton{
  position: relative;
  top: 0px;
  left: 1275px;
}
.upozorenje{
  color: red;
}
#dodajButton2{
  position: relative;
  top: 0px;
  left: 400px;
}
