<H1>Glumci</H1>
<button routerLink="/Film" >Idi nazad na film</button>
<button (click)="dodavanje()" >Novi glumac</button>


<table class="table table-hover table-dark uzad">
  <tr >
    <th>ID</th>
    <th>Ime</th>
    <th>Prezime</th>
    <th>Datum rodjenja</th>
    <th>Akcija</th>
  </tr>
  <tbody>
  <tr *ngFor="let s of getGlumacPodaci()">
    <td>{{s.id}}</td>
    <td>{{s.ime}}</td>
    <td>{{s.prezime}}</td>
    <td >{{s.datumRodjenja}}</td>
    <td>
      <button (click)="obrisiGlumca(s)" class="btn btn-light">Obrisi</button>
      <button (click)="urediGlumca(s)" class="btn btn-light odmakni" >Uredi</button>

    </td>
  </tr>
  </tbody>
</table>

<div *ngIf="prikaziDodavanje" class="uzad">
  <h1>Dodavanje glumca</h1>
  <form>
    <div class="form-group">
      <label for="ime">Ime glumca</label>
      <input [(ngModel)]="add._ime" [ngModelOptions]="{standalone: true}"
             type="text" class="form-control" id="ime"  placeholder="Unesite ime glumca">
    </div>
    <div class="form-group">
      <label for="prezime">Prezime glumca</label>
      <input  [(ngModel)]="add._prezime" [ngModelOptions]="{standalone: true}"
              type="text" class="form-control" id="prezime"  placeholder="Unesite prezime glumca">
    </div>


    <div class="form-group">
      <label for="datumRodj">Datum Rodjenja glumca</label>
      <input type="text" [(ngModel)]="add._datumRodj" [ngModelOptions]="{standalone: true}"
             class="form-control" id="datumRodj"  placeholder="Unesite datum rodjenja glumca">
    </div>
    <br>
    <button type="submit" (click)="DodajGlumca()" class="btn btn-light">Dodaj</button>
  </form>



</div>


<div *ngIf="odabraniGlumac != null && prikaziUredjivanje" class="uzad">
  <h1>Uređivanje glumca</h1>
  <form>
    <div class="form-group">
      <label for="imeE">Ime glumca</label>
      <input [(ngModel)]="odabraniGlumac.ime" [ngModelOptions]="{standalone: true}"
             type="text" class="form-control" id="imeE"  >
    </div>
    <div class="form-group">
      <label for="prezimeE">Prezime glumca</label>
      <input  [(ngModel)]="odabraniGlumac.prezime" [ngModelOptions]="{standalone: true}"
              type="text" class="form-control" id="prezimeE"  >
    </div>
    <div class="form-group">
      <label for="datRodjE">Datum Rodjenja glumca</label>
      <input [(ngModel)]="odabraniGlumac.datumRodjenja" [ngModelOptions]="{standalone: true}"
             type="text" class="form-control" id="datRodjE" >

    </div>

    <br>
    <button type="submit" (click)="snimi()" class="btn btn-light">Sačuvaj</button>
  </form>

</div>
