<div class="w-100 bg-dark bg-opacity-50 d-flex p-0 m-0"  >
  <button class="nav-item btn rounded-0 btn-light text-dark fw-bold fs-5 active" routerLink="cinehome"><i class="fa fa-home  me-2"></i>Home</button>
  <button class="nav-item btn rounded-0 text-light fw-bold  fs-5"><i class="fa fa-ticket  me-2"></i>Movies</button>
  <button class="nav-item btn rounded-0 text-light fw-bold  fs-5" ><img style="width:25px; height: 25px; " src="../../../../assets/reshot-icon-popcorn-CZNY72JMUK.svg"/>Food and drinks</button>
  <button class="nav-item btn rounded-0 text-light fw-bold  fs-5"><i class="fa fa-info  me-2"></i>Support</button>
  <div class="ms-auto">
    <button class="btn btn-dark rounded-0 text-light fw-bold login fs-5">Login</button>
    <button class="btn btn-info  rounded-0 text-light fw-bold register fs-5">Register</button>
  </div>
</div>
