<div class="container-fluid d-flex flex-column w-100 h-100 p-0 m-0 parent">
  <div class="container-fluid bg-dark bg-opacity-75  top">
     <app-nav></app-nav>
  </div>
  <div class="container-fluid d-flex flex-lg-column flex-xl-row flex-md-column flex-sm-column flex-xs-column other" >
    <div class="container bg-light bg-opacity-50  col-xxl-3  col-xl-3 col-lg-12 col-md-12 col-sm-12 col-xs-12 h-100">
      <app-left></app-left>
    </div>
    <div class="container  col-xxl-6  col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 h-100">
      <app-mid></app-mid>
    </div>
    <div class="container bg-light bg-opacity-50 col-xxl-3 col-xl-3 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12 h-100">
      <app-right></app-right>
    </div>
  </div>
</div>
