.nav-item:hover{
  background-color: rgba($color: #000000, $alpha: 0.7);
}

.active.nav-item:hover{
  background-color: rgba($color: #ffffff, $alpha: 0.8);;

}

.btn:focus{
  outline: 0!important;
}

.auth-btn:hover{
  background-color: rgba($color: #000000, $alpha: 0.7)!important;
}
